.botonTransparentado {
  background-color: rgba(221, 221, 221, 0.3);
  font-weight: bolder;
  /* border: 1px solid black;
  border-radius: 5px; */
  padding: 1px;
  margin: 1px;
}
.botonTransparentado:hover {
  background-color: rgba(221, 221, 221, 1);
  font-weight: bolder;

  padding: 1px;
  margin: 1px;
}
.seccion {
  display: flex;
  flex-direction: column;
  border: 3px solid brown;
  border-radius: 8px;
  padding: 2px;
  margin: 2px;
}

.titulo {
  justify-content: center;
  margin: 2px;
  display: flex;
  border: 1px solid coral;
  border-radius: 8px;
  padding: 2px;
}

.coleccionCards {
  margin: 2px;
  display: flex;
  border: 3px solid coral;
  border-radius: 8px;
  padding: 2px;
}

.botonesDeSeccion {
  margin: 2px;
  display: flex;
  border: 3px solid brown;

  border-radius: 8px;
  padding: 2px;
}
.links {
  display: flex;
  flex-direction: column;
  margin: 2px;
  display: flex;
  border-radius: 8px;
  padding: 2px;
  border: 3px solid darkred;
}

.botoneraInCard {
  display: flex;
  flex-direction: column;
  margin: 2px;
  border-radius: 8px;
  padding: 2px;
  border: 1px solid brown;
}

.libroCard {
  width: 150px;
  height: 300px;
  border: 3px solid rebeccapurple;
  border-radius: 8px;
  margin: 5px;
  background-image: url("./imagenes/lomolibro.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: darkblue;
  font-weight: bolder;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.prestatarios {
  display: flex;
  border: 3px solid brown;
  border-radius: 8px;
  padding: 2px;
  margin: 2px;
}

.personaCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 150px;
  height: 300px;
  border: 3px solid rebeccapurple;
  border-radius: 8px;
  margin: 2px;
  background-image: url("./imagenes/persona.png");

  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  color: darkblue;
  font-weight: bolder;
  padding-top: 1em;
}

.categorias {
  display: flex;
  border: 3px solid brown;
  border-radius: 8px;
  padding: 2px;
  margin: 2px;
}

.categoriaCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 150px;
  height: 300px;
  border: 3px solid rebeccapurple;
  border-radius: 8px;
  margin: 2px;
  background-image: url("./imagenes/categorias.png");

  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  color: darkblue;
  font-weight: bolder;
  padding-top: 1em;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
